source https://nuget.org/api/v2
redirects: on
storage: none
framework: net50

nuget Streams
nuget Unquote
nuget FsCheck 3.0.0-alpha4
nuget FsCheck.xUnit prerelease
nuget Microsoft.NET.Test.Sdk
nuget xunit.runner.visualstudio version_in_path: true

github fsprojects/FsReveal build.fsx .