source https://api.nuget.org/v3/index.json
framework: net8.0
storage: none
nuget Expecto.FsCheck
nuget FSharp.Core
nuget FsToolkit.ErrorHandling
nuget Microsoft.NET.Test.Sdk
nuget Unquote
nuget YoloDev.Expecto.TestSdk